<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">

    <!--
      &lt;!&ndash; 加载HandlerMapping 负责引导  找到对应的controller &ndash;&gt;
      <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
      &lt;!&ndash; 加载HandlerAdapter 内容生成器 生成内容  &ndash;&gt;
      <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
      -->

    <!--    上面两行可以用该行替代，由框架自动配置 即 方法映射引导器和 内容生成器-->
    <mvc:annotation-driven/>



    <!-- 渲染视图 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!--        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 不拦截静态文件 -->
    <mvc:default-servlet-handler/>


    <!-- 忽略static路径下的任何url，直接映射到真实路径， mapping下的**(逻辑路径） 在location中 -->
    <mvc:resources  location="/static/" mapping="/static/**"/>

    <!-- 扫描所有的 controller -->
    <context:component-scan base-package="cn.hll520.wtuShop.controller"/>


    <!-- Gson转换器 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!--避免返回String乱码-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
<!--                        <value>text/plain;charset=UTF-8</value>-->
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!--Json转换，property 避免 Ie 执行 Ajax 时,返回 Json 出现下载文件-->
            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
<!--                        <value>text/plain;charset=UTF-8</value>-->
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <!--输出json结果格式化-->
                <property name="gson">
                    <bean class="org.springframework.http.converter.json.GsonFactoryBean">
                        <!--输出null，false则不输出null值-->
                        <property name="serializeNulls" value="true" />
                        <!--不对html标签转码，false会导致所有html标签转码为 \ue300 格式-->
                        <property name="disableHtmlEscaping" value="true"/>
                        <!--格式化日期-->
                        <property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


</beans>