<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <script type="text/javascript" src="http://127.0.0.1/WTUShop/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            search();
            $("#search").click(function () {
                search();
            });

            $("#reset").click(function () {
                $("#nameKey").val("");
                search();
            });

            $("#upon").click(function () {
                search(pageNow - 1);
            });


            $("#next").click(function () {
                search(pageNow + 1);
            });

            $("#start").click(function () {
                search(1);
            });

            $("#last").click(function () {
                search(pageAll);
            });
        });

        var pageNow = 1;
        var pageAll = 1;

        function search(page, size) {
            $("#searchVar").html("");
            $.getJSON(
                "http://127.0.0.1/WTUShop/admin/goods/search",
                {name: $("#nameKey").val(), pageIndex: page, pageSize: size},
                function (json) {
                    if (json.statusCode !== 200) {
                        $("#searchVar").html("没有找到相关内容 " + json.msg);
                    }

                    $("#sumRows").html(json.data.total);
                    pageNow = json.data.pageNum;
                    $("#pageNum").html(pageNow);
                    pageAll = json.data.pages;
                    $("#pages").html(pageAll);

                    $("#upon").attr('disabled', json.data.isFirstPage);
                    $("#next").attr('disabled', json.data.isLastPage);

                    for (let i = 0; i < json.data.list.length; i++) {
                        let goods = json.data.list[i];
                        $("#searchVar").append(`
                        <tr>
                        <td>${goods.categoryId}</td>
                        <td>${goods.id}</td>
                        <td>${goods.name}</td>
                        <td>${goods.price}</td>
                        <td>${goods.num}</td>
                        <td>${goods.image}</td>
                        <td>${goods.createTime}</td>
                        <td>${goods.updateTime}</td>
                        <td><a href="javascript:delCategory(${goods.id})" >删除</a>&nbsp;
                        <a href="http://127.0.0.1/WTUShop/admin/goods/edit/${goods.id}" >编辑</a></td>
                        </tr>
                        `);
                    }
                },
                "json"
            );
        }

        function delCategory(CategoryID) {
            if (!confirm("确定要删除吗？"))
                return false;
            $.post(
                "http://127.0.0.1/WTUShop/admin/goods/doDel/" + CategoryID,
                {},
                function (json) {
                    if (json.statusCode !== 200) {
                        alert("删除失败 " + json.msg);
                        return false;
                    }
                    alert("删除成功");

                    search(pageNow);
                },
                "json"
            ).fail(function () {
                alert("网络错误!");
            });
        }


    </script>
    <style type="text/css">
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>客户列表</h1>
搜索：<label for="nameKey"></label><input type="text" id="nameKey">&nbsp;&nbsp;
<button id="search">搜索</button>&nbsp;
<button id="reset">恢复</button>&nbsp;
共找到<span id="sumRows" style="color: crimson"></span>条数据&nbsp;
<a href="http://127.0.0.1/WTUShop/admin/goods/toAdd">
    <button>添加</button>
</a>

<table id="listCustomer">
    <thead>
    <th>所属类别</th>
    <th>商品ID</th>
    <th>商品名称</th>
    <th>商品价格</th>
    <th>商品数量</th>
    <th>商品预览</th>
    <th>创建时间</th>
    <th>更新日期</th>
    <th>操作</th>
    </thead>
    <tbody id="searchVar">
    <!-- 预留数据 -->


    </tbody>
    <tfoot>
    <!-- 尾部数据 -->
    <td colspan="9">
        <a href="#" id="start">首页</a>&nbsp;
        <button id="upon">上一页</button>&nbsp;
        第<span id="pageNum" style="color: #142fdc"></span>页&nbsp;
        <button id="next">下一页</button>&nbsp;
        共<span id="pages"></span>页&nbsp;
        <a href="#" id="last">末页</a>&nbsp;
    </td>
    </tfoot>
</table>
</body>
</html>