<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <script type="text/javascript" src="http://127.0.0.1/WTUShop/static/js/jquery.min.js"></script>
    <script>
        $(function () {

            $.getJSON(
                "http://127.0.0.1/WTUShop/admin/goods/getEdit",
                {},
                function (json) {
                    if (json.statusCode !== 200) {
                        alert("获取失败！" + json.msg);
                    }
                    $("input[name='id']").attr("value", json.data.id);
                    $("input[name='name']").attr("value", json.data.name);
                    $("input[name='price']").attr("value", json.data.price);
                    $("input[name='num']").attr("value", json.data.num);
                    $("input[name='image']").attr("value", json.data.image);
                    $("input[name='categoryId']").attr("value", json.data.categoryId);
                },
                "json"
            );


            $("#btn_submit").click(function () {
                $.getJSON(
                    "http://127.0.0.1/WTUShop/admin/goods/doEdit",
                    $("#goods").serialize(),
                    function (json) {
                        if (json.statusCode === 200) {
                            alert("修改成功");
                            location.href = "http://127.0.0.1/WTUShop/admin/goods";
                            //正常响应
                        } else {
                            alert(json.msg);
                        }
                    },
                    "json"
                );
            })
        });
    </script>
</head>
<body>
<h3>类别添加</h3>
<form id="goods" method="post">
    商品ID：<label>
    <input type="text" name="id" disabled>
</label><br>
    商品名称：<label>
    <input type="text" name="name">
</label><br>
    商品价格：<label>
    <input type="text" name="price">
</label><br>
    商品数量：<label>
    <input type="text" name="num">
</label><br>
    商品预览：<input type="file" name="image"><br>
    商品类别：<label>
    <input type="text" name="categoryId">
</label><br>
    <input id="btn_submit" type="button" value="修改">
</form>
</body>
</html>