<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h3>用户注册</h3>
<form action="http://127.0.0.1/WTUShop/user/doRegister" method="post">
    <label>
        用户名：
        <input type="text" name="username">
    </label><br>
    <label>
        密码：
        <input type="text" name="password">
    </label><br>
    <label>
        真实姓名：
        <input type="text" name="realname">
    </label><br>
    <input type="submit" value="注册">
</form>
</body>
</html>