<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>修改类别信息</title>
    <!-- JQuery -->
    <script type="text/javascript" src="http://127.0.0.1/WTUShop/static/js/jquery.min.js"></script>
    <!-- Bootstrap核心CSS和JS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {

            $.getJSON(
                "http://127.0.0.1/WTUShop/admin/category/getEdit",
                {},
                function (json) {
                    if(json.statusCode!==200){
                        alert("获取失败！"+json.msg);
                    }
                    $("#cid").attr("value", json.data.id);
                    $("#name").attr("value", json.data.name);
                    $("#goodsNum").attr("value", json.data.goodsNum);
                },
                "json"
            );


            $("#btn_submit").click(function () {
                $.getJSON(
                    "http://127.0.0.1/WTUShop/admin/category/doEdit",
                    $("#editInfo").serialize(),
                    function (json) {
                        if (json.statusCode === 200) {
                            alert("修改成功");
                            location.href = "http://127.0.0.1/WTUShop/admin/category";
                            //正常响应
                        } else {
                            alert(json.msg);
                        }
                    },
                    "json"
                );
            })
        });
    </script>
</head>
<body>
<div class="container">
    <h1 class="page-header">编辑商品类别</h1>
    <form class="form-horizontal" role="form" id="editInfo">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="cid">
                类别ID：
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cid" name="cid" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">
                类别名称：
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="goodsNum">
                商品数量：
            </label>
            <div class="col-sm-10">
                <input class="form-control" id="goodsNum" name="goodsNum" placeholder="纯数字，单位为分" type="number">
                <input type="button" class="btn btn-lg btn-primary btn-block" style="margin-top: 30px" id="btn_submit"
                       value="提交修改">
            </div>
        </div>
    </form>
</div>
</body>
</html>